<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../components/modals/modalCompanieInfos/infosCompanie.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div id="meuModal" class="modal">
    <div class="direction"></div>
    <div class="modal-conteudo">
        <table class="tableContainer">
          <thead >
            <th>
              <i class="fa-solid fa-xmark" id="closeModalInfoCompanie"></i>
            </th>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Razao Social:</th>
              <td id="companieNameTd"></td>
            </tr>
            <tr>
              <th scope="col">CNPJ:</th>
              <td id="companieCnpjTd"></td>
            </tr>
            <tr>
              <th scope="col">Inscricao Estadual:</th>
              <td id="companieIeTd"></td>
            </tr>
            <tr>
              <th scope="col">Contato:</th>
              <td id="companieContactTd"></td>
            </tr>
            <tr>
              <th scope="col" >Endereco:</th>
              <td id="companieAdressTd"></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</body>
</html>