<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./modalAlert.css">
</head>
<body>

<!--MODAL OCULTO-->
<div id="fade" class="hide"></div>
<div id="modal" class="hide">
    <div class="modal-content">
        <div class="title-container">
            <h2>Alerta</h2>

        </div>
    

        <div class="modal-body">
            <div class="paragrafo">
                <p>informação não encontrada no sistema.</p>
            </div>

            <div class="btn-fechar">
                <button class="button">Fechar</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./modalAlert.js" defer></script>
</html>