html {
    background-color: #2F2F39;
}
  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: tahoma;  
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: url(../Imagens_png/Cópia\ de\ background_login_moons.png);
    background-repeat: no-repeat;
}
:root{
    --default-color:#343440;
    --selection-color:#2F2F39;
    --neutral-color:#f6f6f9;
}
/*----------------------*/
.section{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  background-image:url(../images/background-tela-login-300x500.png) ;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0%;
  border-radius: 5%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -webkit-box-reflect: below 0 -webkit-linear-gradient(top, transparent 90%, rgba(255, 255, 255, 0.5));}
.containerImage{
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
}
.containerImage img{
    width: 150px;
    height: 150px;
    border-radius: 25px;
}
.containerImage img:hover{
    transform: scale(1.10);
    transition: .8s ease;
    border-radius: 100%;
}
.containerImage img{
    animation: ease-in-out;
    transition: .8s;
    border-radius: 25px;
}


/*----------------------*/

.boxLogin{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: left center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 100px;
}

.boxLogin input{
    width: 80%;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #343440;
    border: none;
    outline: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

input{
    color: #f6f6f9;
    text-align: center;
}
input :focus{
    color: #f6f6f9;
    outline: 0;
}
.boxLogin button {
    background-color: #343440;
    width: 150px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 0;
    transition: .8s;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    
}
.containerLogin button:hover {
    transition: .4s;
    scale: 1.1;
  }
  

/*----------------------*/
.recoverPass{
    width: 230px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    font-size: 12px;
}

.recoverPass p {
    transition: 1s;
    color: white;
}
.recoverPass p:hover{
    color: rgb(83,207,225);
    transition: .4s;
}

.containerRegister {
    background-color: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 115px;
}
.containerRegister button {
    width: 100px;
    height: 30px;
    padding: 0;
    font-size: 12px;
    transition: .8s;
} 
.containerRegister button:hover {
  transition: .4s;
  scale: 1.2;
}


.modalRegisterOff {
  display: none;
}
.modalRegisterOn {
    display: flex;
    background-image:url(./images/background-tela-login-300x500.png); 
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 450px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(47,47,57);

}

.modalRegisterOn button {
    background-color: #343440;
    width: 180px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    transition: .8s;
}
.modalRegisterOn button:hover {
    width: 220px;
    transition: .4s;
}

.modalRegisterOn #cancelRegister {
    width: 100px;
}
.modalRegisterOn #cancelRegister:hover {
    width: 140px;
    transition: .4s;
}
.modalRegisterOn h1 {
    margin-bottom: 100px;
}
